<div class="form_for">
	<%= form_for(@poll) do |f| %>
		<%= f.text_field :title, :placeholder => 'What will your poll be called?' %><br/>
		<%= f.text_area :question, :placeholder => 'What do you want to ask?' %><br/>
		<%= f.submit 'Create Poll' %>
	<% end %>
</div>